---
---

@import "basecoat/basecoat";
@import "off-canvas";
@import "contents";
@import "layout";

.form-input {
  border: $border;
  height: 36px;
  padding: 6px 8px;
  line-height: 20px;
  vertical-align: middle;
  background-color: $white;
  background-repeat: no-repeat; // Repeat and position set for form states (success, error, etc)
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);

  &.focus,
  &:focus {
    border-color: #51a7e8;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  }

}

#mc_embed_signup div.mce_inline_error {
  background-color: inherit !important;
  color: $maroon !important;
  font-weight: normal !important;
  font-size: 16px;
  margin-bottom: 0;
}

.mega-padding {
  @include breakpoint(lg) {
    padding-top: 60px;
  }
}


.world-icon {
  //border: 1px solid #ccc;
}
