---
---

@import "basecoat/basecoat";
@import "off-canvas";
@import "contents";
@import "layout";

.form-input {
  border: $border;
  height: 36px;
}

#mc_embed_signup div.mce_inline_error {
  background-color: inherit !important;
  color: $maroon !important;
  font-weight: normal !important;
  font-size: 16px;
  margin-bottom: 0;
}
